<h1>APNS Manager</h1>

<%= link_to 'Application List', apps_path %><br>
<%= link_to 'Group List', pgroups_path %><br>
<%= link_to 'Device List', pdevices_path %><br>
<%= link_to 'Message List', pmessages_path %><br>
<%= link_to 'Notify List', welcome_notify_list_path %><br>

<hr>
  
<%= link_to 'New Application', new_app_path %><br>
<%= link_to 'New Device', new_pdevice_path %><br>
<%= link_to 'New Group', new_pgroup_path %><br>
<%= link_to 'New Push Message', new_app_path %><br>
