<%= form_for(@pmessage) do |f| %>
  <% if @pmessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pmessage.errors.count, "error") %> prohibited this pmessage from being saved:</h2>

      <ul>
      <% @pmessage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pgroup_id %><br />
    <%= f.number_field :pgroup_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :badge %><br />
    <%= f.number_field :badge %>
  </div>
  <div class="field">
    <%= f.label :sound %><br />
    <%= f.text_field :sound %>
  </div>
  <div class="field">
    <%= f.label :flag %><br />
    <%= f.number_field :flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
