<h1>Listing pmessages</h1>

<table>
  <tr>
    <th>Pgroup</th>
    <th>Content</th>
    <th>Badge</th>
    <th>Sound</th>
    <th>Flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pmessages.each do |pmessage| %>
  <tr>
    <td><%= pmessage.pgroup_id %></td>
    <td><%= pmessage.content %></td>
    <td><%= pmessage.badge %></td>
    <td><%= pmessage.sound %></td>
    <td><%= pmessage.flag %></td>
    <td><%= link_to 'Show', pmessage %></td>
    <td><%= link_to 'Edit', edit_pmessage_path(pmessage) %></td>
    <td><%= link_to 'Destroy', pmessage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_path %>|<%= link_to 'New Pmessage', new_pmessage_path %>
