<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @pdevice.token %>
</p>

<p>
  <b>User:</b>
  <%= @pdevice.user %>
</p>

<p>
  <b>Flag:</b>
  <%= @pdevice.flag %>
</p>


<%= link_to 'Edit', edit_pdevice_path(@pdevice) %> |
<%= link_to 'Back', pdevices_path %>
